*
!lambda_function.py
!query_functions.py
!LICENSE
!README.md
!requirements.txt
!/Alexa Skill/
!/Alexa Skill/*
!/Images/
!/Images/*
!/Flask App/
!/Flask App/*
!/DynamoDB
!/DynamoDB/*
!/FlaskAPP
!/FlaskApp/*