*
!lambda_function.py
!query_functions.py
!LICENSE
!README.md
!requirements.txt
!/alexa
!/registrationform/
!/registrationform/*
!/registrationform/css/
!/registrationform/css/*
!/registrationform/img/
!/registrationform/img/*
!/registrationform/scss/
!/registrationform/scss/*
!/registrationform/vendor/
!/registrationform/vendor/*