*
!lambda_function.py
!query_functions.py
!LICENSE
!README.md
!requirements.txt
!/Alexa Skill/
!/Alexa Skill/*
!/Alexa Skill/Slots_Intents/
!/Alexa Skill/Slots_Intents/*
!/Images/
!/Images/*
!/Flask App/
!/Flask App/*
!/Images/DynamoDB
!/Images/DynamoDB/*
!/Images/FlaskAPP
!/Images/FlaskApp/*